<h1>Nearby Vets</h1>

<div
  data-controller="nearby-vets"
  class="map-wrapper"
>
  <div
    data-nearby-vets-target="map"
    style="height: 500px; width: 100%; border-radius: 10px;"
  ></div>
</div>

<!-- Load Google Maps JS SDK with callback -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap">
</script>
