development:
  adapter: async

test:
  adapter: test

production:
  adapter: redis
  url: <%= ENV["REDIS_TLS_URL"] || ENV["REDIS_URL"] || "redis://localhost:6379/1" %>
  channel_prefix: ff_resq_production
