// =============================================================================
// ALERT - Fixed alert positioning
// =============================================================================

.alert {
  bottom: $space-base;
  position: fixed;
  right: $space-base;
  z-index: $z-notification;
}
