/* Animal Images */
.animal-img {
  bottom: 0 !important;
  pointer-events: none !important;
  display: block !important;
}

.bird-img {
  position:absolute;
  bottom: 5% !important;
  left: -5% !important;
  height: 45vh !important;
  z-index: 999 !important;
}

.fox-img {
  position:absolute;
  right: -30% !important;
  height: 60vh !important;
  z-index: 998 !important;
}

/* Slide Card Container */
.flip-card {
  position: relative;
  width: 90%;
  max-width: 90%;
  min-height: 500px;
  background: transparent;
  margin: 0 auto;
}

/* Front and Back Faces */
.flip-card-front,
.flip-card-back {
  padding:1rem;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  position: relative;
  z-index: 10;

  /* Glassmorphism effect */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Front Face (visible by default) */
.flip-card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0);
}

/* Back Face (hidden to the right) */
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  overflow: visible;
  visibility: hidden;
}

/* When slid to form */
.flip-card.flipped .flip-card-front {
  transform: translateX(-100%);
  visibility: hidden;
}

.flip-card.flipped .flip-card-back {
  transform: translateX(0);
  visibility: visible;
}
